:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --white-0: #fff;
  --grey-0: #ccc;
  --lightgray: lightgray;
  --grey-1: #888;
  --grey-2: #818a91;
  --grey-3: #ddd;
  --grey-4: #eceeef;
}
