.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  margin-bottom: 15px;
  background: var(--dark-color);
  color: var(--white-0);
}
